<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startPoints</key>
	<array>
    <string>{1, 1}</string>
    <string>{43, 1}</string>
    <string>{43, 15}</string>
    <string>{40, 15}</string>
    <string>{40, 44}</string>
    <string>{4, 44}</string>
    <string>{4, 15}</string>
    <string>{1, 15}</string>

<string>{6, 6}</string>
<string>{39, 6}</string>
<string>{39, 11}</string>
<string>{6, 11}</string>
    
<string>{9, 15}</string>
<string>{9, 39}</string>
<string>{36, 39}</string>
<string>{36, 15}</string>

<string>{15, 21}</string>
<string>{15, 25}</string>
<string>{30, 25}</string>
<string>{30, 21}</string>


	</array>
	<key>endPoints</key>
	<array>


<string>{43, 1}</string>
<string>{43, 15}</string>
<string>{40, 15}</string>
<string>{40, 44}</string>
<string>{4, 44}</string>
<string>{4, 15}</string>
<string>{1, 15}</string>
<string>{1, 1}</string>

<string>{39, 6}</string>
<string>{39, 11}</string>
<string>{6, 11}</string>
<string>{6, 6}</string>

<string>{9, 39}</string>
<string>{36, 39}</string>
<string>{36, 15}</string>
<string>{9, 15}</string>


<string>{15, 25}</string>
<string>{30, 25}</string>
<string>{30, 21}</string>
<string>{15, 21}</string>

	</array>
</dict>
</plist>